<mat-toolbar class="fixed-header">
    <span class="logo color-primary">Shopify</span>
    <nav id="menu">
        <ul>
            <li><a href="#">Notre menu</a></li>
            <li><a href="#">Plat aléatoire</a></li>
            <li><a href="#">A propos</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <span class="flex-spacer"></span>
    <button mat-icon-button (click)="openCart()" [matBadge]="getCartItemCount()" matBadgePosition="after" matBadgeColor="accent"><mat-icon aria-hidden="false" aria-label="Panier">add_shopping_cart</mat-icon></button>

</mat-toolbar>