<mat-card class="list-card">
    <mat-card-header>
        <mat-card-title>Pain au chocolat</mat-card-title>
        <mat-card-subtitle>Viennoiserie</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://file1.topsante.com/var/topsante/storage/images/media/images/galeries/le-pain-au-chocolat-taille-xxs/8660448-1-fre-FR/Le-pain-au-chocolat-Taille-xxs.jpg?alias=width1024" alt="photo">
    <mat-card-content>
        <p>
            Pain au chocolat tena tsara be, mahavoky tsara sady misy calcium, vitamine.
        </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Ajouter au panier</button>
    </mat-card-actions>
</mat-card>