<div class="shopping-cart">
    <div class="title">
        Panier
    </div>
    <div class="item" *ngFor="let item of selectedFoods ; let i = index ;">
        <div class="buttons">
            <button (click)="removeItem(i)" class="delete-btn"><mat-icon aria-hidden="true">close</mat-icon></button>
        </div>

        <div class="image">
            <img src={{item.lienImage}} alt="Pizza" />
        </div>

        <div class="description">
            <span>{{ item.nom }}</span>
            <span>{{ item.categorie }}</span>
        </div>

        <div class="quantity">
            <button class="minus-btn" (click)="decreaseQuantity(i)" type="button" name="button">
                -
            </button>
            <input type="text" name="name" [(ngModel)]="item.quantite" />
            <button class="plus-btn" (click)="increaseQuantity(i)" type="button" name="button">
                +
            </button>
        </div>

        <div class="total-price">{{ item.quantite * item.prix }} Ar</div>
    </div>
    <div class="empty" *ngIf="selectedFoods.length == 0">
        <p>Aucun élément ajouté au panier.</p>
    </div>
</div>