<div id="main-bg">
    <div class="main-center">
        <h1>Shopify</h1>
        <p>Commander les nourritures préparés par des chefs professionnels.<br/>Cela peut se faire en une minute sans vous déplacer.</p>
        <div class="marge">
            <button mat-flat-button color="accent" (click)="scrollTo('list')">Commander maintenant</button>
        </div>
    </div>
</div>
<section>
    <h1 class="section-titre color-primary">Catégories</h1>
    <div class="articles">
        <div class="modele-article">
            <h4>PIZZA</h4>
            <a href="#" class="image-conteneur">
                <div class="image-mask"><img src="../../assets/pizza.jpg" alt="pizza"></div>
            </a>
        </div>
        <div class="modele-article">
            <h4>NEM</h4>
            <a href="#" class="image-conteneur">
                <div class="image-mask"><img src="../../assets/nem.jpg" alt="nem"></div>
            </a>
        </div>
        <div class="modele-article">
            <h4>VIENNOISERIE</h4>
            <a href="#" class="image-conteneur">
                <div class="image-mask"><img src="../../assets/viennoiserie.jpg" alt="viennoiserie"></div>
            </a>
        </div>
        <div class="modele-article">
            <h4>VIN</h4>
            <a href="#" class="image-conteneur">
                <div class="image-mask"><img src="../../assets/vin.jpg" alt="vin"></div>
            </a>
        </div>
    </div>
</section>
<section>
    <h1 class="section-titre color-primary" id="list">Les plus commandés</h1>
    <div class="articles">
        <div class="modele-article"  *ngFor="let item of homeListFood">
            <app-card-food [currentFood]="item"></app-card-food>
        </div>
    </div>
</section>
<app-footer></app-footer>